{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}
    {% include "navbar.html" %}
    
    <div class='row' style='margin-left: 20%; margin-right: 20%; margin-top: 10%;'>
        <div class='row'>
            <h2 class='text-dark fs-1 fw-bold mb-5' style='text-align: right;'>{% trans "ثبت پیش فاکتور" %}<h2>
        </div>
        <form method='post'>
            {% csrf_token %}
            <div class='row mt-3'>
                <label for="id_organization" class="form-label fs-5 fw-bold">{% trans 'انتخاب سازمان' %}</label>
                <select id='id_organization' name='organization_name' class="form-select">
                    <option selected>---------</option>
                    {% for organization in organizations %}
                        <option value="{{organizations.pk}}">{{organization.organization_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class='row mt-3'>
                <table class='table table-dark table-striped'>
                    <thead>
                        <tr>
                            <th>{% trans "انتخاب محصول" %}</th>
                            <th>{% trans "تعداد خرید" %}</th>
                            <th>{% trans "درصد تخفیف" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                {% render_field form.product|add_class:'form-control' %}
                            </td>
                            <td>
                                {% render_field form.quantity|add_class:'form-control'|attr:'min:1' %}
                            </td>
                            <td>
                                {% render_field form.discount|add_class:'form-control'|attr:'min:0' %}
                            </td>
                        </tr>
                        <tr class='add-row'>
                            <td colspan='4'>
                                <a href="#"class='text-white' onclick="addRowToTable()">{% trans "آیتم جدید به پیش فاکتور اضافه کن" %}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='row mt-3'>
                <div>
                    <button type='submit' class='btn btn-dark text-white'>{% trans "ذخیره" %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}


{% block scripts %}
    <script>

    </script>
{% endblock scripts %}
