{% load static %}
{% load i18n %}


<html dir='ltr' lang='en'>

<head>
    <title>
        {% block title %}{% trans "خونه" %}{% endblock title %}
    </title>

    <link href={% static 'bootstrap/bootstrap.css' %} rel='stylesheet'></link>
    <link href={% static 'bootstrap/bootstrap.min.css' %} rel='stylesheet'></link>
    <style>
        .form-check-input:checked {
            background-color: black;
        }
        {% block style %}{% endblock style %}
    </style>
</head>

<body background={% static 'image/crm_pic.jpg' %}>
    <div class='container-fluid'>
        <div class='row'>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </div>
        <div class='row'>
            <div>
                {% block show_messages %}
                    {% if request.method == 'POST' %}
                        <div class="alert alert-danger d-flex align-items-center mt-lg-5 mx-lg-5" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                            <div>
                                {% if forms_set.errors %}
                                    {% for dict_errors in forms_set.errors %}
                                        {% for key_error, value_error in dict_errors.items %}
                                            <strong>{{key_error}} : {{value_error}}</strong> <br>
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <strong>{{message}}</strong>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endblock show_messages %}
            </div>
        </div>
    </div>
    
    <script src={% static 'bootstrap/bootstrap.bundle.min.js' %}></script>
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script>
        // to prevent a resubmit form and send POST method again on refresh page
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    {% block scripts %}{% endblock scripts %}

</body>

</html>