{% load static %}
{% load i18n %}


<html dir='ltr' lang='en'>

<head>
    <title>
        {% block title %}{% trans "خونه" %}{% endblock title %}
    </title>

    <link href={% static 'bootstrap/bootstrap.css' %} rel='stylesheet'></link>
    <link href={% static 'bootstrap/bootstrap.min.css' %} rel='stylesheet'></link>
    <style>
        .form-check-input:checked {
            background-color: black;
        }
        {% block style %}{% endblock style %}
    </style>
</head>

<body background={% static 'image/crm_pic.jpg' %}>
    <div class='container-fluid'>
        <div class='row'>
            <div class='sticky-top mt-lg-5'>
                <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                    <a class="navbar-brand text-white" href="#">{% trans "سی آر ام" %}</a>

                    {% if request.user.is_authenticated %}

                        <a class="navbar-brand text-white" href="#">{{request.user}}</a>

                        <a class="navbar-brand text-white" href="{% url 'expert:logout' %}">{% trans "خروج" %}</a>
                        
                        {% if request.user.is_superuser %}
                            <a class="navbar-brand text-white" href="{% url "admin:index" %}">{% trans "پنل مدیریت" %}</a>
                        {% endif %}
                    {% else %}
                        <a class="navbar-brand text-white" href="{% url 'expert:login' %}">{% trans "ورود" %}</a>
                    {% endif %}

                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        {% if request.user.is_authenticated %}

                            <div class="dropdown dropstart">
                                <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="list_drop_down" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% trans "لیست" %}
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="list_drop_down">
                                    {% if request.user.is_authenticated %}
                                        <li>
                                            <a class="dropdown-item text-dark" href="{% url 'marketing:list_quotes' %}">{% trans "پیش فاکتورها" %}</a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item text-dark" href="{% url 'organization:list' %}">{% trans "سازمان ها" %}</a>
                                        </li>

                                        {% if request.user.is_superuser %}
                                            <li>
                                                <a class="dropdown-item text-dark" href="{% url 'organization:list-organization-product' %}">{% trans "محصولات تولیدی" %}</a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item text-dark" href="{% url 'inventory:list-company-products' %}">{% trans "محصولات سازمان" %}</a>
                                            </li>
                                        {% endif %}
                                {% endif %}
                                </ul>
                            </div>

                            <div class="dropdown dropstart">
                                <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="define_drop_down" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% trans "ایجاد" %}
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="define_drop_down">
                                    <li>
                                        <a class="dropdown-item text-dark" href="{% url 'marketing:create_quote' %}">{% trans "پیش فاکتورها" %}</a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item text-dark" href="{% url 'organization:register' %}">{% trans "سازمان ها" %}</a>
                                    </li>

                                    {% if request.user.is_superuser %}
                                        <li>
                                            <a class="dropdown-item text-dark" href="{% url 'organization:add-organization-product' %}">{% trans "محصولات تولیدی" %}</a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item text-dark" href="{% url 'inventory:add-company-product' %}">{% trans "محصولات سازمان" %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <div class='row'>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </div>
        <div class='row'>
            <div>
                {% block show_messages %}
                    {% if request.method == 'POST' %}
                        <div class="alert alert-danger d-flex align-items-center mt-lg-5 mx-lg-5" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                            <div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <strong>{{message}}</strong>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endblock show_messages %}
            </div>
        </div>
    </div>
    
    <script src={% static 'bootstrap/bootstrap.bundle.min.js' %}></script>
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script>
        // to prevent a resubmit form and send POST method again on refresh page
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    {% block scripts %}{% endblock scripts %}

</body>

</html>