{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <div class='col-8'>
        <div class="flex-row">
            <form method='post'>
                {% csrf_token %}
                <div class='ms-5 mt-lg-5'>
                    <h3 class='text-white mb-3'>{% trans "فرم ورود" %}</h3>

                    <label for="username"></label>
                    <div class="input-group mb-3" style='padding-right: 75%;'>
                        <span class="input-group-text">
                            <img src="https://img.icons8.com/doodle/30/000000/user.png"/>
                        </span>
                        <input id='username' name='username' value='' type="text" class="form-control" placeholder={% trans "نام کاربری" %}>
                    </div>

                    <label for="password" class="visually-hidden"></label>
                    <div class="input-group mb-3" style='padding-right: 75%;'>
                        <span class="input-group-text">
                            <img src="https://img.icons8.com/color/30/000000/forgot-password.png"/>
                        </span>
                        <input id="password" type="password" name='password' value='' class="form-control" placeholder={% trans "رمزعبور" %}>
                    </div>
                </div>
                <div class='ms-5'>
                    <button type='submit' class='btn btn-primary'>{% trans "تایید" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}


{% block show_messages %}
    <div class='col-4'>
        {% if request.method == 'POST' %}
            <div class="alert alert-danger d-flex align-items-center mt-lg-5 mx-lg-5" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                </svg>
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>
                    {% if messages %}
                        {% for message in messages %}
                            <strong>{{message}}</strong>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>
{% endblock show_messages %}


{% block scripts %}
    <script>
        // to prevent a resubmit form and send POST method again on refresh page
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
{% endblock scripts %}