{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <div class='row'>
        <form method='post'>
            {% csrf_token %}

            <div style='margin-left: 35%; margin-right: 35%; margin-top: 15%;'>
                <label for='id_name' class='form-label'></label>
                <input id='id_name' name='name' value='' class='form-control' type="text" maxlength='50' placeholder="{% trans 'نام محصول تولیدی' %}"></input>
            </div>
            <div class='text-center mt-3'>
                <button class='btn btn-dark text-white' type='submit'>{% trans "ثبت محصول تولیدی" %}</button>
            </div>
        </form>
    </div>
{% endblock content %}
