{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    {% include "navbar.html" %}
    
    <div class='text-white mt-lg-5' style="margin-left: 25%; margin-right: 25%;">
        <table class='table table-dark'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans "نام محصولات تولیدی" %}</th>
                    <th>{% trans "نام محصولات پیشنهادی" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for organization_product in object_list %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <th>{{organization_product.name}}</th>
                        <th>
                            {% for suggestion_product in organization_product.companyproduct_set.all %}
                                {{suggestion_product}}<span class='text-danger fw-bold fs-4'>،</span>
                            {% endfor %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "pagination.html" %}
{% endblock content %}
