{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <div class='text-white' dir='rtl' style='margin-top: 100px;'>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans "نام سازمان" %}</th>
                    <th>{% trans "کارفرما" %}</th>
                    <th>{% trans "ثبت کننده" %}</th>
                    <th>{% trans "عملیات" %}</th>
                </tr>
            <thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>
                            <a style='text-decoration: none; color: red;' href="{% url 'organization:detail' item.pk %}">{{item.organization_name}}</a>
                        </td>
                        <td>{{item.owner_full_name}}</td>
                        <td>{{item.expert_creator}}</td>
                        <td>
                            <a href="#" style='text-decoration: none; color: red;'>{% trans "عملیات پیگیری" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "pagination.html" %}
{% endblock content %}